TimeSheetClient/Service References/TimeSheetServiceReference/TimeSheetService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" />
      <xsd:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TimeSheetService_GetCurrentApproverByLogin_InputMessage">
    <wsdl:part name="parameters" element="GetCurrentApproverByLogin" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetCurrentApproverByLogin_OutputMessage">
    <wsdl:part name="parameters" element="GetCurrentApproverByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentsList_InputMessage">
    <wsdl:part name="parameters" element="GetDepartmentsList" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentsList_OutputMessage">
    <wsdl:part name="parameters" element="GetDepartmentsListResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentEmployees_InputMessage">
    <wsdl:part name="parameters" element="GetDepartmentEmployees" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentEmployees_OutputMessage">
    <wsdl:part name="parameters" element="GetDepartmentEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetEmployeesForTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="GetEmployeesForTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetEmployeesForTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="GetEmployeesForTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentApprover_InputMessage">
    <wsdl:part name="parameters" element="GetDepartmentApprover" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDepartmentApprover_OutputMessage">
    <wsdl:part name="parameters" element="GetDepartmentApproverResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_AddEmployeeLogin_InputMessage">
    <wsdl:part name="parameters" element="AddEmployeeLogin" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_AddEmployeeLogin_OutputMessage">
    <wsdl:part name="parameters" element="AddEmployeeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_AddApproverForDepartment_InputMessage">
    <wsdl:part name="parameters" element="AddApproverForDepartment" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_AddApproverForDepartment_OutputMessage">
    <wsdl:part name="parameters" element="AddApproverForDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="GetTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetList_InputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetList" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetList_OutputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetListResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDayStatusList_InputMessage">
    <wsdl:part name="parameters" element="GetDayStatusList" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetDayStatusList_OutputMessage">
    <wsdl:part name="parameters" element="GetDayStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_EditTimeSheetRecords_InputMessage">
    <wsdl:part name="parameters" element="EditTimeSheetRecords" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_EditTimeSheetRecords_OutputMessage">
    <wsdl:part name="parameters" element="EditTimeSheetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetApproveHistory_InputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetApproveHistory" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetApproveHistory_OutputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetApproveHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CanTimeSheeEdit_InputMessage">
    <wsdl:part name="parameters" element="CanTimeSheeEdit" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CanTimeSheeEdit_OutputMessage">
    <wsdl:part name="parameters" element="CanTimeSheeEditResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_TimeSheetByName_InputMessage">
    <wsdl:part name="parameters" element="TimeSheetByName" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_TimeSheetByName_OutputMessage">
    <wsdl:part name="parameters" element="TimeSheetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetYearsForExeptionDays_InputMessage">
    <wsdl:part name="parameters" element="GetYearsForExeptionDays" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetYearsForExeptionDays_OutputMessage">
    <wsdl:part name="parameters" element="GetYearsForExeptionDaysResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetWorkScheduleList_InputMessage">
    <wsdl:part name="parameters" element="GetWorkScheduleList" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetWorkScheduleList_OutputMessage">
    <wsdl:part name="parameters" element="GetWorkScheduleListResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetExeptionsDaysInYear_InputMessage">
    <wsdl:part name="parameters" element="GetExeptionsDaysInYear" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetExeptionsDaysInYear_OutputMessage">
    <wsdl:part name="parameters" element="GetExeptionsDaysInYearResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_InsertExeptionsDay_InputMessage">
    <wsdl:part name="parameters" element="InsertExeptionsDay" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_InsertExeptionsDay_OutputMessage">
    <wsdl:part name="parameters" element="InsertExeptionsDayResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_EditExeptionsDay_InputMessage">
    <wsdl:part name="parameters" element="EditExeptionsDay" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_EditExeptionsDay_OutputMessage">
    <wsdl:part name="parameters" element="EditExeptionsDayResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_DeleteExeptionsDay_InputMessage">
    <wsdl:part name="parameters" element="DeleteExeptionsDay" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_DeleteExeptionsDay_OutputMessage">
    <wsdl:part name="parameters" element="DeleteExeptionsDayResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_TimeSheetApproval_InputMessage">
    <wsdl:part name="parameters" element="TimeSheetApproval" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_TimeSheetApproval_OutputMessage">
    <wsdl:part name="parameters" element="TimeSheetApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetApproverForTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="GetApproverForTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetApproverForTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="GetApproverForTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetNextApproverForTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="GetNextApproverForTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetNextApproverForTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="GetNextApproverForTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CanApprove_InputMessage">
    <wsdl:part name="parameters" element="CanApprove" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CanApprove_OutputMessage">
    <wsdl:part name="parameters" element="CanApproveResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetApproveStep_InputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetApproveStep" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_GetTimeSheetApproveStep_OutputMessage">
    <wsdl:part name="parameters" element="GetTimeSheetApproveStepResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="SendMail" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_FioToDat_InputMessage">
    <wsdl:part name="parameters" element="FioToDat" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_FioToDat_OutputMessage">
    <wsdl:part name="parameters" element="FioToDatResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CreateTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="CreateTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CreateTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="CreateTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CreateTimeSheetByName_InputMessage">
    <wsdl:part name="parameters" element="CreateTimeSheetByName" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_CreateTimeSheetByName_OutputMessage">
    <wsdl:part name="parameters" element="CreateTimeSheetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_RefreshTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="RefreshTimeSheet" />
  </wsdl:message>
  <wsdl:message name="TimeSheetService_RefreshTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="RefreshTimeSheetResponse" />
  </wsdl:message>
  <wsdl:portType name="TimeSheetService">
    <wsdl:operation name="GetCurrentApproverByLogin">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetCurrentApproverByLogin" message="TimeSheetService_GetCurrentApproverByLogin_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetCurrentApproverByLoginResponse" message="TimeSheetService_GetCurrentApproverByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsList">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetDepartmentsList" message="TimeSheetService_GetDepartmentsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetDepartmentsListResponse" message="TimeSheetService_GetDepartmentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentEmployees">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetDepartmentEmployees" message="TimeSheetService_GetDepartmentEmployees_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetDepartmentEmployeesResponse" message="TimeSheetService_GetDepartmentEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesForTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetEmployeesForTimeSheet" message="TimeSheetService_GetEmployeesForTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetEmployeesForTimeSheetResponse" message="TimeSheetService_GetEmployeesForTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentApprover">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetDepartmentApprover" message="TimeSheetService_GetDepartmentApprover_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetDepartmentApproverResponse" message="TimeSheetService_GetDepartmentApprover_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeLogin">
      <wsdl:input wsaw:Action="urn:TimeSheetService/AddEmployeeLogin" message="TimeSheetService_AddEmployeeLogin_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/AddEmployeeLoginResponse" message="TimeSheetService_AddEmployeeLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddApproverForDepartment">
      <wsdl:input wsaw:Action="urn:TimeSheetService/AddApproverForDepartment" message="TimeSheetService_AddApproverForDepartment_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/AddApproverForDepartmentResponse" message="TimeSheetService_AddApproverForDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetTimeSheet" message="TimeSheetService_GetTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetTimeSheetResponse" message="TimeSheetService_GetTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheetList">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetTimeSheetList" message="TimeSheetService_GetTimeSheetList_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetTimeSheetListResponse" message="TimeSheetService_GetTimeSheetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayStatusList">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetDayStatusList" message="TimeSheetService_GetDayStatusList_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetDayStatusListResponse" message="TimeSheetService_GetDayStatusList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTimeSheetRecords">
      <wsdl:input wsaw:Action="urn:TimeSheetService/EditTimeSheetRecords" message="TimeSheetService_EditTimeSheetRecords_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/EditTimeSheetRecordsResponse" message="TimeSheetService_EditTimeSheetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheetApproveHistory">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetTimeSheetApproveHistory" message="TimeSheetService_GetTimeSheetApproveHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetTimeSheetApproveHistoryResponse" message="TimeSheetService_GetTimeSheetApproveHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanTimeSheeEdit">
      <wsdl:input wsaw:Action="urn:TimeSheetService/CanTimeSheeEdit" message="TimeSheetService_CanTimeSheeEdit_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/CanTimeSheeEditResponse" message="TimeSheetService_CanTimeSheeEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeSheetByName">
      <wsdl:input wsaw:Action="urn:TimeSheetService/TimeSheetByName" message="TimeSheetService_TimeSheetByName_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/TimeSheetByNameResponse" message="TimeSheetService_TimeSheetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForExeptionDays">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetYearsForExeptionDays" message="TimeSheetService_GetYearsForExeptionDays_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetYearsForExeptionDaysResponse" message="TimeSheetService_GetYearsForExeptionDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkScheduleList">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetWorkScheduleList" message="TimeSheetService_GetWorkScheduleList_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetWorkScheduleListResponse" message="TimeSheetService_GetWorkScheduleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExeptionsDaysInYear">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetExeptionsDaysInYear" message="TimeSheetService_GetExeptionsDaysInYear_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetExeptionsDaysInYearResponse" message="TimeSheetService_GetExeptionsDaysInYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertExeptionsDay">
      <wsdl:input wsaw:Action="urn:TimeSheetService/InsertExeptionsDay" message="TimeSheetService_InsertExeptionsDay_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/InsertExeptionsDayResponse" message="TimeSheetService_InsertExeptionsDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditExeptionsDay">
      <wsdl:input wsaw:Action="urn:TimeSheetService/EditExeptionsDay" message="TimeSheetService_EditExeptionsDay_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/EditExeptionsDayResponse" message="TimeSheetService_EditExeptionsDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExeptionsDay">
      <wsdl:input wsaw:Action="urn:TimeSheetService/DeleteExeptionsDay" message="TimeSheetService_DeleteExeptionsDay_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/DeleteExeptionsDayResponse" message="TimeSheetService_DeleteExeptionsDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeSheetApproval">
      <wsdl:input wsaw:Action="urn:TimeSheetService/TimeSheetApproval" message="TimeSheetService_TimeSheetApproval_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/TimeSheetApprovalResponse" message="TimeSheetService_TimeSheetApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApproverForTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetApproverForTimeSheet" message="TimeSheetService_GetApproverForTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetApproverForTimeSheetResponse" message="TimeSheetService_GetApproverForTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextApproverForTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetNextApproverForTimeSheet" message="TimeSheetService_GetNextApproverForTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetNextApproverForTimeSheetResponse" message="TimeSheetService_GetNextApproverForTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanApprove">
      <wsdl:input wsaw:Action="urn:TimeSheetService/CanApprove" message="TimeSheetService_CanApprove_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/CanApproveResponse" message="TimeSheetService_CanApprove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheetApproveStep">
      <wsdl:input wsaw:Action="urn:TimeSheetService/GetTimeSheetApproveStep" message="TimeSheetService_GetTimeSheetApproveStep_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/GetTimeSheetApproveStepResponse" message="TimeSheetService_GetTimeSheetApproveStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="urn:TimeSheetService/SendMail" message="TimeSheetService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/SendMailResponse" message="TimeSheetService_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FioToDat">
      <wsdl:input wsaw:Action="urn:TimeSheetService/FioToDat" message="TimeSheetService_FioToDat_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/FioToDatResponse" message="TimeSheetService_FioToDat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/CreateTimeSheet" message="TimeSheetService_CreateTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/CreateTimeSheetResponse" message="TimeSheetService_CreateTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTimeSheetByName">
      <wsdl:input wsaw:Action="urn:TimeSheetService/CreateTimeSheetByName" message="TimeSheetService_CreateTimeSheetByName_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/CreateTimeSheetByNameResponse" message="TimeSheetService_CreateTimeSheetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTimeSheet">
      <wsdl:input wsaw:Action="urn:TimeSheetService/RefreshTimeSheet" message="TimeSheetService_RefreshTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="urn:TimeSheetService/RefreshTimeSheetResponse" message="TimeSheetService_RefreshTimeSheet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>