TimeSheetClient/Service References/TimeSheetServiceReference/TimeSheetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" />
  <xs:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6868/TimeSheetService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCurrentApproverByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentApproverByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetCurrentApproverByLoginResult" nillable="true" type="q1:DtoApprover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetDepartmentsListResult" nillable="true" type="q2:ArrayOfDtoDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetDepartmentEmployeesResult" nillable="true" type="q3:ArrayOfDtoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesForTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetEmployeesForTimeSheetResult" nillable="true" type="q4:ArrayOfDtoFactStaffEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
        <xs:element minOccurs="0" name="approveNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetDepartmentApproverResult" nillable="true" type="q5:DtoApprover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmployee" type="xs:int" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApproverForDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmployee" type="xs:int" />
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
        <xs:element minOccurs="0" name="approveNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApproverForDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApproverForDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetTimeSheetResult" nillable="true" type="q6:DtoTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetTimeSheetListResult" nillable="true" type="q7:ArrayOfDtoTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetDayStatusListResult" nillable="true" type="q8:ArrayOfDtoDayStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTimeSheetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="recordsForEdit" nillable="true" type="q9:ArrayOfDtoTimeSheetRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTimeSheetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTimeSheetRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetApproveHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetApproveHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetTimeSheetApproveHistoryResult" nillable="true" type="q10:ArrayOfDtoTimeSheetApproveHistiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanTimeSheeEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idRecord" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanTimeSheeEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanTimeSheeEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSheetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="timeSheet" nillable="true" type="q12:DtoTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSheetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="TimeSheetByNameResult" nillable="true" type="q13:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsForExeptionDays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsForExeptionDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetYearsForExeptionDaysResult" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkScheduleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkScheduleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetWorkScheduleListResult" nillable="true" type="q15:ArrayOfDtoWorkShedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExeptionsDaysInYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="idWprkSchedule" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExeptionsDaysInYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetExeptionsDaysInYearResult" nillable="true" type="q16:ArrayOfDtoExceptionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExeptionsDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="exceptionDay" nillable="true" type="q17:DtoExceptionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExeptionsDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="InsertExeptionsDayResult" nillable="true" type="q18:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExeptionsDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="exceptionDay" nillable="true" type="q19:DtoExceptionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExeptionsDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="EditExeptionsDayResult" nillable="true" type="q20:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExeptionsDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idExceptionDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExeptionsDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="DeleteExeptionsDayResult" nillable="true" type="q21:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSheetApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSheetApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimeSheetApprovalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproverForTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
        <xs:element minOccurs="0" name="approverNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproverForTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetApproverForTimeSheetResult" nillable="true" type="q22:DtoApprover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextApproverForTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextApproverForTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="GetNextApproverForTimeSheetResult" nillable="true" type="q23:DtoApprover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanApproveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetApproveStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetApproveStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSheetApproveStepResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="approver" nillable="true" type="q24:DtoApprover" />
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
        <xs:element minOccurs="0" name="approveResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isApproveFinished" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FioToDat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FioToDatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FioToDatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
        <xs:element minOccurs="0" name="dateBeginPeriod" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEndPeriod" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="CreateTimeSheetResult" nillable="true" type="q25:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSheetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartment" type="xs:int" />
        <xs:element minOccurs="0" name="dateBeginPeriod" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEndPeriod" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeLogin" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="employees" nillable="true" type="q26:ArrayOfDtoFactStaffEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSheetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="CreateTimeSheetByNameResult" nillable="true" type="q27:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTimeSheet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TimeSheetMvc4WebApplication.ClassesDTO" minOccurs="0" name="RefreshTimeSheetResult" nillable="true" type="q28:DtoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>